.hidden {
    /* display: none; */
    visibility: hidden;
}

#chatToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0084ff;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
}

#chatContainer {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    flex-direction: column;
    display: flex;
    z-index: 1000;
}

#chatbox {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #FFFFFFFF;
}

.message {
    max-width: 80%;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    clear: both;
}

.user {
    background-color: #dcf8c6;
    float: right;
}

.bot {
    background-color: #fff;
    float: left;
}

#input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

#userInput {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 0;
    font-size: 14px;
}

button {
    background: #0084ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}